.login-background {
    background-image: url('/static/images/kettlebell-bg.jpg');
    background-size: 500px;  /* smaller background image */
    background-position: center;
    background-repeat: repeat;
}

.pass-card {
    background-color: #000;
    background-image: url('/static/images/kettlebell-bg.jpg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 1.3rem;
}
