.login-background {
    background-image: url('/static/images/kettlebell-bg.jpg');
    background-size: 500px;  /* smaller background image */
    background-position: center;
    background-repeat: repeat;
}

.pass-card {
    background-color: #000;
    background-image: url('/static/images/kettlebell-bg.jpg');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    color: #FFC0CB; /* Hex kód a világoskékhez */
    font-size: 1.5rem;
    font-weight: bold;
}
