.login-background {
    background-image: url('/static/images/kettlebell-bg.jpg');
    background-size: 1000px;  /* smaller background image */
    background-position: center;
    background-repeat: no-repeat;
}
